<div class="columns">
  <aside class="column is-2 aside menu">
    <p>
      <a routerLink="/detail/create" class="button is-success is-fullwidth">
        <span class="icon"><i class="fas fa-plus"></i></span><span>New hero</span>
      </a>
    </p>
    <p class="menu-label">My heroes</p>
    <ul class="menu-list">
      <li *ngFor="let hero of heroes">
        <a (click)="onSelect(hero)">
          <span class="is-italic has-text-weight-light">#{{ hero.id }}</span> &ndash; <strong>{{ hero.name }}</strong>
        </a>
      </li>
    </ul>
  </aside>
  <div class="column">
      <app-hero-select [hero]="selectedHero"></app-hero-select>
  </div>
</div>
