<nav class="navbar has-shadow" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a routerLink="/" class="navbar-item">{{ title }}</a>
  </div>
  <div class="navbar-menu is-active">
    <div class="navbar-start">
      <a routerLink="/dashboard" routerLinkActive="is-active" class="navbar-item">Dashboard</a>
      <a routerLink="/heroes" routerLinkActive="is-active" class="navbar-item">Heroes</a>
    </div>
  </div>
</nav>
<section class="section">
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</section>