<div class="columns">
  <div class="column is-one-third-tablet">
    <div class="content">
        <h2 class="title">My Heroes</h2>
        <div class="field has-addons" *ngFor="let hero of heroes">
          <div class="control">
            <span class="button static">{{ hero.id }}</span>
          </div>
          <div class="control">
              <a (click)="onSelect(hero)" class="button">{{ hero.name }}</a>
            </div>
        </div>
    </div>
  </div>
  <div class="column">
      <app-hero-select [hero]="selectedHero"></app-hero-select>
  </div>
</div>
